<h3>buttons</h3>
<div>
     <app-button label="Lorem ipsum" variant="primary" />
</div>
<br/>
<div class="bg-body">
    <app-button label="Lorem ipsum" variant="text" />
</div>
<br/><hr/><br/>
<h3>icons</h3>
<div>
    <app-icon name="arrow-down" [size]="24" />
</div>
<br/>
<div>
    <app-icon name="search" [size]="16" />
</div>
<br/>
<div>
    <app-icon name="calendar" [size]="24" />
</div>
<br/><hr/><br/>
<div>
    <h3>meta label</h3>
    <app-meta-label text="Lorem ipsum dolor sit amet." icon="calendar" />
</div>
<br/><hr/><br/>
<div>
    <app-search-input labelText="Buscar" placeholder="Buscar..." />
</div>
<br/><hr/><br/>
<div>
    <app-section-heading headingText="Lorem ipsum dolor sit"/>
</div>
<br/><hr/><br/>
<div class="grid grid-cols-3 gap-4">
    <div>
        <app-responsive-image
            src="/images/section1-723w.png"
            alt=""
            ratio="16 / 9"
            srcset="/images/section1-356w.png 356w,
                    /images/section1-640w.png 640w,
                    /images/section1-723w.png 723w"
            sizes="(min-width: 1024px) 723px,
                    (min-width: 768px) 640px,
                    356px"
        />
    </div>
    <div>
        <app-responsive-image
            src="/images/section2-493w.png"
            alt=""
            ratio="16 / 9"
            srcset="/images/section2-336w.png 336w,
                    /images/section2-420w.png 420w,
                    /images/section2-493w.png 493w"
            sizes="(min-width: 1024px) 493px,
                    (min-width: 768px) 336px,
                    420px"
        />
    </div>
    <div>
        <app-responsive-image
            src="/images/section3-360w.png"
            alt=""
            ratio="3 / 4"
            srcset="/images/section3-284w.png 284w,
                    /images/section3-360w.png 360w"
            sizes="(min-width: 768px) 360px,
                    284px"
        />
    </div>
</div>
<br/><hr/><br/>
<div>
    <div style="max-width: 493px;">
        <app-article-card
            title="Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et."
            excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id."
            meta="Lorem ipsum dolor sit amet."
            imageSrc="/images/section2-493w.png"
            imageAlt=""
            imageSrcset="/images/section2-336w.png 336w,
                        /images/section2-420w.png 420w,
                        /images/section2-493w.png 493w"
            imageSizes="(min-width: 1024px) 493px, (min-width: 768px) 336px, 420px"
        />
    </div>
        <div style="max-width: 493px;">
        <app-article-card
            title="Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et."
            excerpt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit."
            meta="Lorem ipsum dolor sit amet."
            imageSrc="/images/section2-493w.png"
            imageAlt=""
            imageSrcset="/images/section2-336w.png 336w,
                        /images/section2-420w.png 420w,
                        /images/section2-493w.png 493w"
            imageSizes="(min-width: 1024px) 493px, (min-width: 768px) 336px, 420px"
        />
    </div>
</div>
<br/><hr/><br/>
<div style="max-width: 361px;">
    <app-overlay-card
        title="Lorem ipsum"
        excerpt="Lorem ipsum dolor sit amet consectetur."
        imageSrc="/images/section3-284w.png"
        imageAlt=""
        imageSrcset="/images/section3-284w.png 284w, 
                    /images/section3-360w.png 360w"
        imageSizes="(min-width:1024px) 360px, 284px"
        ctaLabel="Lorem ipsum"
                    
    />
</div>
<br/><hr/>
<div>
    <app-section-hero
    />
</div>
<hr/>
<div>
    <app-section-article-grid/>
</div>
<hr/>
