<h3>buttons</h3>
<div>
     <app-button label="Lorem ipsum" variant="primary" />
</div>
<br/>
<div class="bg-body">
    <app-button label="Lorem ipsum" variant="text" />
</div>
<br/><hr/><br/>
<h3>icons</h3>
<div>
    <app-icon name="arrow-down" [size]="24" />
</div>
<br/>
<div>
    <app-icon name="search" [size]="16" />
</div>
<br/>
<div>
    <app-icon name="calendar" [size]="24" />
</div>
<br/><hr/><br/>
<div>
    <h3>meta label</h3>
    <app-meta-label text="Lorem ipsum dolor sit amet." icon="calendar" />
</div>
<br/><hr/><br/>
<div>
    <app-search-input labelText="Buscar" placeholder="Buscar..." />
</div>
<br/><hr/><br/>