@reference "../../../styles.css";
:host {
  display: contents;
}
.section-article-overlay {
  @apply container-page flex flex-col gap-12;
  @apply py-8;

  @variant md {
    @apply py-12;
  }

  @variant lg {
    @apply px-0 py-24;
  }
}

.section-article-overlay__header {
  @apply flex flex-col gap-6;
}

.section-article-overlay__lead {
  @apply text-copy text-body font-sans;
}

.section-article-overlay__list {
  @apply grid snap-x snap-mandatory grid-flow-col gap-8 overflow-x-auto;
  grid-auto-columns: calc(100% / 1.48);

  @variant md {
    grid-auto-columns: calc(100% / 1.95);
  }

  @variant lg {
    @apply snap-none grid-flow-row grid-cols-4 overflow-x-visible;
    grid-auto-columns: auto;
  }
}

.section-article-overlay__item {
  @apply snap-start;
}
