@import "tailwindcss";
@import "./styles/fonts.css";
@import "./styles/base.css";

@theme {
  /* Typo */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --text-body: 1rem;
  --text-body--line-height: 1.5rem;

  --text-btn: 1rem;
  --text-btn--line-height: 1.5rem;

  --text-section-title-sm: 1.875rem;
  --text-section-title-sm--line-height: 2rem;
  --text-section-title: 3rem;
  --text-section-title--line-height: 3.625rem;

  --text-card-title: 1.875rem;
  --text-card-title--line-height: 2.375rem;

  --text-hero-title: 1.5rem;
  --text-hero-title--line-height: 1.75rem;

  --text-card-title-sm: 1.5rem;
  --text-card-title-sm--line-height: 1.75rem;

  /* Spacing */
  --spacing-btn-primary: 0.625rem;
  --spacing-btn-text: 0.25rem;

  /* Color */
  --color-accent: #e4002b;
  --color-heading: #000000;
  --color-copy: #343a40;
  --color-icon: #1c274c;
  --color-surface: #f4f4f5;

  /* Layout */
  --container-content: 96.375rem;
  --radius-card: 0.5rem;
  --shadow-card: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


@utility container-page {
  width: 100%;
  max-width: var(--container-content);
  margin-inline: auto;
  padding-inline: 1.25rem;
  @variant md {
    padding-inline: 2rem;
  }
}